* {
  margin: 0;
  padding: 0;
  font-family: "Play", sans-serif;
}

body {
  background-color: #222831;
  color: #fff;
  height: 100vh;
}

/* Header */
header {
  height: 20vh;
  background-color: #111720;
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  font-size: 58px;
  color: #fac650;
}

/* Game Playground */
.gamePlayground {
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6%;
}

.heading {
  text-align: center;
}

.heading h3 {
  font-size: 42px;
  margin: 36px 0 18px;
}

.heading p {
  font-size: 28px;
}

.scoreBoard {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}

.scoreCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 28px;
}

.scoreCard > span {
  font-size: 80px;
}

.btnContainer button {
  padding: 30px 40px;
  margin: 0 16px;
  cursor: pointer;
  border: none;
  border-radius: 14px;
  background-color: #393e46;
}

.btnContainer button:hover {
  background-color: #4a4f57;
}

.btnContainer button > span {
  font-size: 80px;
}

.restartGame button {
  font-size: 28px;
  border: none;
  padding: 8px 20px;
  border-radius: 14px;
  cursor: pointer;
  background-color: #febbbb;
}

/* Footer */
footer {
  text-align: center;
  font-size: 18px;
}

footer a {
  text-decoration: underline;
  color: #fff;
}

footer a:hover {
  text-decoration: none;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #222831;
  color: #fff;
  text-align: center;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  /* height: 20%; Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content > h3 {
  font-size: 28px;
  margin: 32px 0 24px;
}

.modal-content > button {
  font-size: 28px;
  border: none;
  padding: 8px 20px;
  border-radius: 14px;
  cursor: pointer;
  background-color: #febbbb;
  margin-bottom: 32px;
}

/* Media Queries */

@media screen and (max-width: 480px) {
  header {
    height: 15vh;
  }

  header h1 {
    font-size: 36px;
  }

  .heading h3 {
    font-size: 28px;
    margin: 32px 0 8px;
  }

  .heading p {
    font-size: 22px;
  }

  .scoreBoard {
    width: 100%;
  }

  .scoreCard {
    font-size: 22px;
  }

  .scoreCard > span {
    font-size: 50px;
  }

  .btnContainer button {
    padding: 16px;
    margin: 0 8px;
  }

  .btnContainer button > span {
    font-size: 50px;
  }

  .restartGame button {
    font-size: 22px;
  }

  .modal-content {
    width: 80%;
  }

  .modal-content > h3 {
    font-size: 22px;
  }

  .modal-content > button {
    font-size: 22px;
  }
}
